@model aspApp.Models.User

@{
    Layout = null;
}

<script>
    function closeModalButton() {
        closeModal()
    }

    //function submit_formAddUser_OnClick() {
    //    //submited_form()
    //    //$(function () {
    //    //    $('#formAddUser').on('submit', function (e) {

    //    //        $.ajax({
    //    //            type: 'post',
    //    //            url: 'User/AddUser/',
    //    //            data: $('#formAddUser').serialize(),
    //    //            success: function () {
    //    //                alert("Email has been sent!");
    //    //            }
    //    //        });
    //    //        e.preventDefault();
    //    //    });
    //    //});

    //    submit_formAddUser()
    //}

    function submitedForm() {
        submited_form()
    }
</script>

<form asp-action="AddUser" method="post" id="formAddUser" onsubmit="return AjaxPost(this);">
    <div class="popup_div shadow-2 modal_none" id="modalAdd">
        <div>
            <a class="close_modal" onclick="closeModalButton()">X</a>
            <h5 class="title_modal">Add new User</h5>
        </div>
        <!-- <label for="">#: 1</label> -->
        <!-- <label for="">Id: 1</label> -->
        <div class="popup_items">
            <label for="">Username:</label>
            <input asp-for="@Model.Username" />
            <label for="">Phone:</label>
            <input asp-for="@Model.Phone" />
            <label for="">eMail:</label>
            <input asp-for="@Model.EMail" />
            <label for="">Birthday:</label>
            <input asp-for="@Model.Birthday" />
        </div>

        @*<a class="action_good" onclick="$("#myForm").submit();">Add</a>*@
        @*<input class="action_good" type="submit" value="Add" />*@
        <a class="action_good" onclick="submitedForm()">Add</a>
    </div>
</form>